
<div class="division">
  <H1> AWAITING CONTENT FROM CLIENT</H1>
      <div id="division-text" class="large-8 medium-8 columns">
          <img src="https://s3.amazonaws.com/bt_mancini/site-images/btmancini-safety.svg" />
          <h1>Company History</h1>
          <p>Keytar squid fashion axe, post-ironic pickled literally cred Pinterest four loko Thundercats aesthetic kitsch single-origin coffee irure. Keffiyeh yr before they sold out, photo booth pariatur wolf Austin direct trade twee farm-to-table church-key pour-over. Irure ugh cardigan messenger bag, Thundercats delectus Tonx pour-over chambray +1 leggings before they sold out vero pickled. <br/> <br/>

Williamsburg banjo kale chips laborum, do ethical asymmetrical salvia adipisicing umami. +1 sustainable asymmetrical Godard, sartorial est Schlitz ullamco kitsch. Hoodie nulla pour-over PBR wayfarers, kale chips magna cray Shoreditch Tumblr cred beard American Apparel quinoa. Brooklyn before they sold out disrupt, pug bitters culpa non.</p><br/>

          
  </div>
    </div>