<div class="division">
      <div id="division-text" class="large-6 medium-7 columns">
          <img src="https://s3.amazonaws.com/bt_mancini/site-images/floor-covering.png" />
          <h1>Floor Covering Division</h1>
          <p>B.T. Mancini Company is one of the largest independent commercial flooring contractors in the United States. Our size and Starnet affiliation enables us to offer our customers a larger variety of products at the best value.<br/><br/>

            B.T. Mancini Company trains and employs our own in-house installation crews, which ensures that our customers receive a quality installation in a respectful and responsible manner. We specialize in the following products and services:</p>

            <ul>
            <li class="floor-covering">Carpeting - including broadloom, carpet tiles and wall carpet
                <li class="floor-covering">Sheet vinyl, linoleum and rubber</li>
<li class="floor-covering">Vinyl composition tiles, luxury vinyl tile, solid vinyl tiles and rubber tiles</               li>
                <li class="floor-covering">Welded PVC floors and walls</li>
                <li class="floor-covering">Welded conductive and static control flooring</li>
                <li class="floor-covering">Factory finished hardwood flooring</li>
                <li class="floor-covering">Modular furniture lifting system</li>
                <li class="floor-covering">24 Hour Response for Small Projects</li>
                <li class="floor-covering">Dedicated in house project management</li>
                <li class="floor-covering">CMAS participant</li>
</li>
            <li class="floor-covering">We can provide 100% recyclable carpet.</li>
            <li class="floor-covering">We continually seek out suppliers who share our environmental concerns 
               and provide products that are environmentally sound.</li>
            <li class="floor-covering">We provide assistance with LEED certification.</li>
          </ul>

            <p>B.T. Mancini Company is committed to providing products and services that contribute to a more sustainable future.
</p>

          <ul>
            <li class="floor-covering">We offer recycling on any carpet we remove.</li>
            <li class="floor-covering">We can provide 100% recyclable carpet.</li>
            <li class="floor-covering">We continually seek out suppliers who share our environmental concerns 
               and provide products that are environmentally sound.</li>
            <li class="floor-covering">We provide assistance with LEED certification.</li>
          </ul>
      </div>

      <div class="large-6 medium-5 columns">
        <div class="row">
      <ul class="orbit" data-orbit>
      <li>
        <img src="https://s3.amazonaws.com/bt_mancini/site-images/rotator1.png" alt="slide 1" />
        <div class="orbit-caption">B.T. Mancini is one of the largest independent flooring contractors in the US.</div> 
      </li> 
      <li>
        <img src="https://s3.amazonaws.com/bt_mancini/site-images/rotator4.png" alt="slide 2" /> 

      </li>
      <li> 
        <img src="https://s3.amazonaws.com/bt_mancini/site-images/rotator5.png" alt="slide 3" /> 
        <div class="orbit-caption">We are dedicated to providing customers with quality materials, exemplary service and superior installations.</div> 
      </li>
    </ul>
  </div>


        <dl class="tabs" data-tab>
          <dd class="active"><a href="#panel2-1"><h4>Products & Services</h4></a></dd>
          <dd><a href="#panel2-2"><h4>CSI Codes<h4></a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="panel2-1">
            <ul class="services">
            <li>Free Axez USA-Low Profile Access Floor</li>
                <li>Carpeting - including broadloom, carpet tiles and 
                wall carpet</li>
                <li>Sheet vinyls, linoleum and rubber</li>
                <li>Vinyl composition tiles, solid vinyl tiles and rubber tiles</li>
                <li>Welded PVC floors and walls</li>
                <li>Welded conductive and static control flooring</li>
                <li>Factory finished hardwood flooring</li>
                <li>Modular furniture lifting system</li>
                <li>24 Hour Response for Small Projects</li>
                <li>Dedicated in house project management</li>
                <li>CMAS participant</li>
              </ul>
          </div>
          <div class="content" id="panel2-2">
            <ul class="csi-codes">
              <li class="csi-code">096200 Specialty Flooring
                <ul class="csi-dropdown">
                <li>Laminate, Bamboo, Leather, Cork and Acid Resistant Flooring</li> 
                <li>Synthetic Turf Flooring</li>
              </ul>

              <li class="csi-code">09640 Wood Flooring                
              <ul class="csi-dropdown">
                <li>Prefinished Wood Parquet Flooring </li>
                <li>Prefinished Wood Strip and Plank Flooring </li>
                <li>Prefinished Laminated (Engineered) Wood Flooring </li>
                <li>Prefinished Wood Athletic Flooring </li>
              </ul>
              <li class="csi-code">09650 Resilient Flooring
              <ul class="csi-dropdown"> 
                <li>Resilient Base and Accessories </li>
                <li>Resilient Sheet Flooring </li>
                <li>Resilient Tile Flooring </li>
              </ul>
              <li class="csi-code">09660 Static Control Flooring
              <ul class="csi-dropdown"> 
                <li>Conductive Resilient Flooring </li>
                <li>Static Dissipative Resilient Flooring </li>
                <li>Static Resistant Resilient Flooring </li>
              </ul>
              <li class="csi-code">09680 Carpet
              <ul class="csi-dropdown"> 
                <li>Carpet Cushion </li>
                <li>Tile Carpeting </li>
                <li>Sheet Carpet </li>
                <li>Indoor Outdoor Carpeting</li>
              </ul>
            </li>
          </ul>
          </div>

        </div>
    </div>
  </div> 