    <div class="orbit-container">
      <ul class="orbit" data-orbit>
      <li>
        <img src="https://s3.amazonaws.com/bt_mancini/site-images/rotator1.png" alt="slide 1" />
      </li> 
      <li>
        <img src="https://s3.amazonaws.com/bt_mancini/site-images/rotator4.png" alt="slide 2" /> 

      </li>
      <li> 
        <img src="https://s3.amazonaws.com/bt_mancini/site-images/rotator5.png" alt="slide 3" /> 
      </li>
    </ul>
  </div>
      
      

        <div id="tag-line-bg">
         <h3>Dedicated to quality materials, exemplary service and superior installations.</h3>
        </div>
    <div id="div3">
      <div class="division large-4 medium-4 small-12 columns">
        <h5>Floor Covering Division</h5>
          <div id="floor-covering">
            <!-- <img src="https://s3.amazonaws.com/bt_mancini/site-images/floor-covering.png" /> -->
            <p class="division-text">B.T. Mancini is one of the largest independent flooring Contractors in the United States. We provide a multitude of floor covering products to meet your needs. <a href="floor-covering.php" class="division-link">See More...</a></p>
            
          </div>
      </div>
      <div class="division large-4 medium-4 small-12 columns">
        <h5>Interior Architectural Products</h5>
          <div id="interior-architectural-products">
            <!-- <img src="https://s3.amazonaws.com/bt_mancini/site-images/interior-arch.png" /> -->
            <p class="division-text">Our team of experienced personnel will provide quality services that you expect on each project from beginning to completion.<a href="interior-architecture.php" class="division-link">See More...</a></p>
            
          </div>
      </div>
      <div class="division large-4 medium-4 small-12 columns">
        <h5>Structural Products Division</h5>
          <div id="structural">
            <!-- <img src="https://s3.amazonaws.com/bt_mancini/site-images/structural.png" /> -->
            <p class="division-text">B.T. Mancini Company offers a wide variety of specialty products for the commercial, educational, hospitality and industrial markets in Northern California and Northern Nevada.<a href="structural.php" class="division-link">See More...</a></p>
            
          </div>
        </div>
      </div>



