
<div class="division">
      <div id="division-text" class="large-8 medium-7 columns">
          <img src="https://s3.amazonaws.com/bt_mancini/site-images/btmancini-safety.svg" />
          <h1>Installation Teams</h1>
          <p>B.T. Mancini Co., Inc. is extremely proud of our highly trained and dedicated installation teams. We are a Union Shop, and our in-house crews consist of quality members of the following Trade Unions;</p>
		<ul>
			<li>Carpenters</li>
			<li>Iron Workers </li>
			<li>Allied Trades – Floor Covering </li>
		</ul>
		<p>Many of the products that we install require specialized training that is not covered in the typical training provided by the local Unions. In these instances, we solicit assistance from our manufacturers and arrange to have our crews’ factory trained and certified on a product by product basis.<br/><br/>

		We count on our crews to represent our company with exemplary service, the highest levels of integrity and to always be professional and responsible in their interaction with our customers.</p>

          
  	</div>
</div>