<div class="division">
      <div id="division-text" class="large-6 medium-7 columns">
          <img src="https://s3.amazonaws.com/bt_mancini/site-images
/interior-arch.png" />
          <h1>Interior Architecture</h1>
          <p>B.T. Mancini Company offers a wide variety of specialty products for the commercial, educational, hospitality and industrial markets in Northern California and Northern Nevada. We are privileged to furnish, install and service the following quality products.</p>

          <ul class="large-12 columns floor-covering">
            <li class="floor-covering">Hufcor: Operable Walls, Accordion Partitions, Portable Panels, and Unispan, moveable glassrail systems.</li>
            <li class="floor-covering">McKeon Door Company: Vertical, Side Coiling, and Side Acting Fire Doors.</li>
            <li class="floor-covering">US Smoke & Fire Curtain: Smoke and Fire Containment Systems.</li>
            <li class="floor-covering">DaLite: Projection Screens.</li>
            <li class="floor-covering">Modular interior Wall Systems</li>
          </ul>

      </div>

      <div id="sidebar" class="large-6 medium-5 columns">
        <div class="row">
      <ul class="orbit" data-orbit>
      <li>
        <img src="https://s3.amazonaws.com/bt_mancini/site-images
/rotator1.png" alt="slide 1" />
        <div class="orbit-caption">B.T. Mancini is one of the largest independent flooring contractors in the US.</div> 
      </li> 
      <li>
        <img src="https://s3.amazonaws.com/bt_mancini/site-images
/rotator4.png" alt="slide 2" /> 

      </li>
      <li> 
        <img src="https://s3.amazonaws.com/bt_mancini/site-images
/rotator5.png" alt="slide 3" /> 
        <div class="orbit-caption">We are dedicated to providing customers with quality materials, exemplary service and superior installations.</div> 
      </li>
    </ul>
  </div>


        <dl class="tabs" data-tab>
          <dd class="active"><a href="#panel2-1"><h5>Products & Services</h5></a></dd>
          <dd><a href="#panel2-2"><h5>CSI Codes</h5></a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="panel2-1">
            <p>B.T. Mancini Company is pleased to provide the following services, at no cost or obligation, to our clients and the architectural community:</p>
            <ul>
              <li>Project specific Autocad design and detailing assistance.</li>
              <li>Product selection and specification assistance.</li>
              <li>Preliminary budget analysis, pricing, and value engineering suggestions.</li>
              <li>24 hour response for service and maintenance.</li>
              </ul>
          </div>
          <div class="content" id="panel2-2">
            <ul class="csi-codes">
            <li class="csi-code">083300 Coiling Doors & Grilles
              <ul class="csi-dropdown">
                <li>Coiling Counter Doors & Grilles</li>
                <li>Overhead Coiling Doors & Grilles</li>
                <li>Overhead Rapid Coiling Door</li>
                <li>Side Coiling Doors & Grilles</li>
                <li>Overhead Coiling Smoke & Fire Curtains</li>
              </ul> 
            </li>
            <li class="csi-code">083400 Special Function Doors
              <ul class="csi-dropdown" >
                <li>Vertical Bi-fold Doors</li>
                <li>Vertical lift Operable Walls</li>
              </ul>
            <li class="csi-code">83500 Folding Doors & Grilles
                <ul class="csi-dropdown" >
                <li>Vertical Bi-fold Doors</li>
                <li>Vertical lift Operable Walls</li>
                <li>Accordion Folding Doors & Grilles</li>
                <li>Accordion Folding Fire Doors</li> 
              </ul> 
            </li>
            <li class="csi-code">096700 Access Flooring</li>
            <li class="csi-code">101100 Visual Display Units
              <ul class="csi-dropdown" >
              <li>Marker boards (Fixed and Sliding)</li>
              <li>Tack boards (Fixed and Sliding)</li>
              </ul>
            </li>
             <li class="csi-code">102200 Partitions
                <ul class="csi-dropdown" >
                  <li>Movable Panel Partitions</li>
                  <li>Accordion Folding Partitions</li>
                  <li>Coiling Partitions</li>
                  <li>Folding Panel Partitions</li>
                  <li>Sliding Partitions</li>
                  <li>Operable Walls</li>
                </ul>
            </li>
            <li class="csi-code">15200 Audio-Visual Equipment
              <ul class="csi-dropdown" >
                <li>Projection Screens</li>
                <li>Audio-Visual Equipment Supports</li>
              </ul>
            </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
