<div class="division">
      <div id="division-text" class="large-6 medium-7 columns">
          <img src="https://s3.amazonaws.com/bt_mancini/site-images
/interior-arch.png" />
          <h1>Architectural Products Division</h1>
          <p>B.T. Mancini Co., Inc. offers a diverse selection of specialty products for the commercial, educational, hospitality and industrial markets in Northern California and Northern Nevada. We are privileged to furnish, install and service the following quality products.</p>

          <ul>
            <li class="floor-covering">Hufcor: Operable Walls, Accordion Partitions, Moveable Glasswall Systems, Hydraulic Bi-Fold Doors, Vertically Stacking Operable Walls and Unispan Self-Supporting Truss Systems.</li>
            <li class="floor-covering">McKeon Door Company: Vertical Coiling, Side Coiling, Side Acting and Accordion Fire Door Assemblies (All models are available with or without egress doors). Horizontal Coiling Fire Shutters and McKeon’s FireFighterTM Smoke/Fire Curtains.</li>
            <li class="floor-covering">ASM Access Flooring: Comprehensive List of Access Flooring Systems and Accessories for use in Office Environments, Data Centers, Test Labs and Casinos.</li>
            <li class="floor-covering">LaCantina Doors: Folding, Sliding & Swinging Glass Door Assemblies for Interior and Exterior Applications.</li>
            <li class="floor-covering">Da-Lite: Superior Projection Screens to meet every need for every market.</li>
            <li class="floor-covering">Platinum Visual Systems: A complete line of visual display systems.</li>
            <li class="floor-covering">Hormann Flexon: High Performance / High Speed Doors.</li>
          </ul>

      </div>

      <div id="sidebar" class="large-6 medium-5 columns">
        <div class="row">
      <ul class="orbit" data-orbit>
      <li>
        <img src="https://s3.amazonaws.com/bt_mancini/site-images
/rotator1.png" alt="slide 1" />
      </li> 
      <li>
        <img src="https://s3.amazonaws.com/bt_mancini/site-images
/rotator4.png" alt="slide 2" /> 

      </li>
      <li> 
        <img src="https://s3.amazonaws.com/bt_mancini/site-images
/rotator5.png" alt="slide 3" /> 
      </li>
    </ul>
  </div>


        <dl class="tabs" data-tab>
          <dd class="active"><a href="#panel2-1"><h4>Products & Services</h4></a></dd>
          <dd><a href="#panel2-2"><h4>CSI Codes</h4></a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="panel2-1">
            <p>B.T. Mancini Company is pleased to provide the following services, at no cost or obligation, to our clients and the architectural community:</p>
            <ul>
              <li>Project specific Autocad design and detailing assistance.</li>
              <li>Product selection and specification assistance.</li>
              <li>Preliminary budget analysis, pricing, and value engineering suggestions.</li>
              <li>24 hour response for service and maintenance.</li>
              </ul>
          </div>
          <div class="content" id="panel2-2">
            <ul class="csi-codes">
            <li class="csi-code">083300 Coiling Doors & Grilles
              <ul class="csi-dropdown">
                <li>Coiling Counter Doors & Grilles</li>
                <li>Overhead Coiling Doors & Grilles</li>
                <li>Overhead Rapid Coiling Door</li>
                <li>Side Coiling Doors & Grilles</li>
                <li>Overhead Coiling Smoke & Fire Curtains</li>
              </ul> 
            </li>
            <li class="csi-code">083400 Special Function Doors
              <ul class="csi-dropdown" >
                <li>Vertical Bi-fold Doors</li>
                <li>Vertical lift Operable Walls</li>
              </ul>
            <li class="csi-code">83500 Folding Doors & Grilles
                <ul class="csi-dropdown" >
                <li>Vertical Bi-fold Doors</li>
                <li>Vertical lift Operable Walls</li>
                <li>Accordion Folding Doors & Grilles</li>
                <li>Accordion Folding Fire Doors</li> 
              </ul> 
            </li>
            <li class="csi-code">096700 Access Flooring</li>
            <li class="csi-code">101100 Visual Display Units
              <ul class="csi-dropdown" >
              <li>Marker boards (Fixed and Sliding)</li>
              <li>Tack boards (Fixed and Sliding)</li>
              </ul>
            </li>
             <li class="csi-code">102200 Partitions
                <ul class="csi-dropdown" >
                  <li>Movable Panel Partitions</li>
                  <li>Accordion Folding Partitions</li>
                  <li>Coiling Partitions</li>
                  <li>Folding Panel Partitions</li>
                  <li>Sliding Partitions</li>
                  <li>Operable Walls</li>
                </ul>
            </li>
            <li class="csi-code">15200 Audio-Visual Equipment
              <ul class="csi-dropdown" >
                <li>Projection Screens</li>
                <li>Audio-Visual Equipment Supports</li>
              </ul>
            </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
