<div class="container">
      <div id="division-text" class="large-6 medium-7 columns">
          <img src="https://s3.amazonaws.com/bt_mancini/site-images
/structural.png" />
          <h1>Structural Division</h1>
          <p>B.T. Mancini Company represents a wide range of architectural and structural products.   We can help you select the best product to meet your needs. Our team of experienced personnel will provide quality services that you expect on each project from beginning to completion. Our field crews are skilled craftsman trained in th<br/><br/>

            B.T. Mancini Company offers consulting, design-build assistance and budget proposals to all of our customers. We have an in-house detailing department equipped with computer aided drafting.<br/><br/>
e installation of each product that we represent.
            B.T. Mancini Company is a certified Installer of the following nationally recognized manufacturers:</p>

  
      </div>

      <div class="large-6 medium-5 columns">
        <div class="row">
      <ul class="orbit" data-orbit>
      <li>
        <img src="https://s3.amazonaws.com/bt_mancini/site-images
/rotator1.png" alt="slide 1" />
        <div class="orbit-caption">B.T. Mancini is one of the largest independent flooring contractors in the US.</div> 
      </li> 
      <li>
        <img src="https://s3.amazonaws.com/bt_mancini/site-images
/rotator4.png" alt="slide 2" /> 

      </li>
      <li> 
        <img src="https://s3.amazonaws.com/bt_mancini/site-images
/rotator5.png" alt="slide 3" /> 
        <div class="orbit-caption">We are dedicated to providing customers with quality materials, exemplary service and superior installations.</div> 
      </li>
    </ul>
  </div>


        <dl class="tabs" data-tab>
          <dd class="active"><a href="#panel2-1"><h5>Products & Services</h5></a></dd>
          <dd><a href="#panel2-2">CSI Codes</a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="panel2-1">
            <ul class="services">
            <li>Architectural Metal Wall Panels</li>
                <li>Architectural Column Covers</li>
                <li>Prefinished Metal Siding and Roofing</li>
                <li>ControLite - Intelligent Daylighting Systems</li>
                <li>Skylights and Translucent Wall Panels</li>
                <li>Translucent Canopies and Walkway Covers</li>
                <li>Exterior Sun Control Devices</li>
                <li>Expansion and Seismic Joint Cover Assemblies</li>
                <li>Metal Floor and Metal Roof Decking</li>
                <li>Electrified Cellular Floor Decking Systems</li>
                <li>Open-Web Steel Joists and Girders</li>
              </ul>
          </div>
          <div class="content" id="panel2-2">
            <ul class="csi-codes">
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
            <li>009647 VCT</li>
              </ul>
          </div>

        </div>

      </div>
    </div>

