<div class="division">
      <div id="division-text" class="large-6 medium-7 columns">
          <img src="https://s3.amazonaws.com/bt_mancini/site-images
/structural.png" />
          <h1>Structural Products Division</h1>
          <p>B.T. Mancini Company represents a wide range of architectural and structural products.
          We can help you select the best product to meet your needs. Our team of experienced 
          personnel will provide quality services that you expect on each project from beginning to
          completion. Our field crews are skilled craftsman trained in the installation of each product that we represent. The following list is a partial representation of our areas of expertise and installation capability.</p>

          <ul>
            <li>Metal Floor & Metal Roof Decking</li>
            <li>Electrified Cellular Floor Decking</li>
            <li>Acoustical Decking Systems</li>
            <li>Open-Web Steel Joists and Girders</li>
            <li>Architectural Metal Wall Panels</li>
            <li>Rain Screen Systems: Metal, Terracotta, Concrete, Phenolic, Fiber Cement</li>
            <li>Architectural Column Covers</li>
            <li>Prefinished Metal Siding and Roofing</li>
            <li>Complete Exterior Building Skins</li>
            <li>Architectural and Decorative Metal Railing Systems</li>
            <li>Skylights and Translucent Wall Panels</li>
            <li>Translucent Canopies and Walkway Covers</li>
            <li>Exterior Sun Control Devices</li>
            <li>Expansion and Seismic Joint Cover Assemblies</li>
            <li>Fixed Louvers and Acoustical Louvers</li>
          </ul>

          <p>B.T. Mancini Company offers consulting, design-build assistance and budget proposals to all of our customers. We have an in-house detailing department equipped with computer aided drafting and BIM capabilities.</p>

  
      </div>

      <div id="right-bar" class="large-6 medium-5 columns">
        <div>
          <ul class="orbit" data-orbit>
          <li>
            <img src="https://s3.amazonaws.com/bt_mancini/site-images/rotator1.png" alt="slide 1" />
          </li> 
          
          <li>
            <img src="https://s3.amazonaws.com/bt_mancini/site-images/rotator4.png" alt="slide 2" /> 
          </li>

          <li> 
            <img src="https://s3.amazonaws.com/bt_mancini/site-images/rotator5.png" alt="slide 3" /> 
          </li>
        </ul>
      </div>


        <dl class="tabs" data-tab>
          <dd class="active"><a href="#panel2-1"><h4>Products & Services</h4></a></dd>
          <dd><a href="#panel2-2"><h4>CSI Codes</h4></a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="panel2-1">
            <ul class="services">
            <li>Architectural Metal Wall Panels</li>
                <li>Architectural Column Covers</li>
                <li>Prefinished Metal Siding and Roofing</li>
                <li>ControLite - Intelligent Daylighting Systems</li>
                <li>Skylights and Translucent Wall Panels</li>
                <li>Translucent Canopies and Walkway Covers</li>
                <li>Exterior Sun Control Devices</li>
                <li>Expansion and Seismic Joint Cover Assemblies</li>
                <li>Metal Floor and Metal Roof Decking</li>
                <li>Electrified Cellular Floor Decking Systems</li>
                <li>Open-Web Steel Joists and Girders</li>
              </ul>
          </div>
          <div class="content" id="panel2-2">

            <ul class="csi-codes">
            <li class="csi-code">044200 Exterior Stone Cladding</li>
            <li class="csi-code">044300 Stone Masonry</li> 
            <li class="csi-code">052100 Steel Joist Framing</li> 
            <li class="csi-code">053100 Steel Decking
              <ul class="csi-dropdown">
                <li>Masonry-Supported Stone Cladding</li> 
                <li>Steel-Stud- Supported Stone Cladding</li> 
                <li>Strongback-Frame-Supported Stone Cladding</li> 
                <li>Truss-Supported Stone Cladding</li> 
                <li>Grid-System-Supported Stone Cladding</li> 
                <li>Stone Panels for Curtain Walls</li> 
                <li>Stone Masonry Veneer</li> 
                <li>Anchored Stone Masonry Veneer</li> 
                <li>Deep Longspan Steel Joist Framing</li> 
                <li>Longspan Steel Joist Framing</li> 
                <li>Open Web Steel Joist Framing</li> 
                <li>Steel Joist Girder Framing</li> 
                <li>Steel Floor Decking</li> 
                <li>Steel Roof Decking</li> 
                <li>Steel Form Decking</li>
              </ul>
            </li>
            <li class="csi-code">053400 Acoustical Metal Decking</li>
            <li class="csi-code">053500 Raceway Decking Assemblies</li>
            <li class="csi-code">055813 Column Covers</li>
            <li class="csi-code">057313 Decorative Metal Railings</li>
            <li class="csi-code">071300 Sheet Waterproofing</li>
            <li class="csi-code">072700 Air Barriers</li>
            <li class="csi-code">074100 Roof Panels</li>

            <li class="csi-code">074200 Wall Panels 
              <ul class="csi-dropdown">
                <li>Glazed Decorative Metal Railings</li> 
                <li>Wire Rope Decorative Metal Railings</li> 
                <li>Bituminous Sheet Waterproofing</li> 
                <li>Self-Adhering Sheet Waterproofing</li> 
                <li>Fluid-Applied Membrane Air Barriers</li> 
                <li>Sprayed Foam Air Barriers</li> 
                <li>Metal, Wood, Plastic. Composite Roof Panels</li> 
                <li>Fabricated Roof Panel Assemblies</li> 
                <li>Metal, Metal Plate, Wood, Plastic. Composite Wall Panels</li> 
                <li>Fabricated Wall Panel Assemblies</li> 
                <li>Insulated Wall Panels</li> 
                <li>Terra Cotta Wall Panels</li> 
                <li>Soffit Panels</li> 
              </ul>
            </li>

            <li class="csi-code">074400 Faced Panels</li> 
            <li class="csi-code">074600 Siding</li> 
            <li class="csi-code">076100 Sheet Metal Roofing</li> 

            <li class="csi-code">076400 Sheet Metal Wall Cladding
              <ul class="csi-dropdown">  
                <li>Porcelain Enameled Faced Panels</li> 
                <li>Metal Faced Panels</li> 
                <li>Glass-Fiber-Reinforced Cementitious Panels</li> 
                <li>Mineral-Fiber-Reinforced Cementitious Panels</li> 
                <li>Fabricated Faced Panel Assemblies</li> 
                <li>Aluminum, Steel, and Wood Siding</li> 
                <li>Composite Siding</li> 
                <li>Fiber-Cement Siding</li> 
                <li>Standing Seam Sheet Metal Roofing</li> 
                <li>Standing Seam Sheet Metal Wall Cladding</li> 
                <li>Batten Seam Sheet Metal Wall Cladding</li> 
                <li>Flat Seam Sheet Metal Wall Cladding</li> 
              </ul>
            </li>

            <li class="csi-code">076526 Self-Adhering Sheet Flashing</li> 

            <li class="csi-code">077100 Roof Specialties
              <ul class="csi-dropdown"> 
                <li>Manufactured Copings</li> 
                <li>Manufactured Counter-Flashing Systems</li> 
                <li>Manufactured Grave Stops and Fasciae</li> 
                <li>Manufactured gutters and Downspouts</li> 
                <li>Gutter Debris Guards</li> 
                <li>Reglets</li> 
                <li>Manufactured Roof Expansion Joints</li> 
                <li>Manufactured Scuppers</li> 
              </ul>
            </li>

            <li class="csi-code">079513 Expansion Joint Cover Assemblies</li> 
            <li class="csi-code">089119 Fixed Louvers</li> 
            <li class="csi-code">089516 Wall Vents</li> 

                <li class="csi-code">107100 Exterior Protection 
                  <ul class="csi-dropdown">
                    <li>Exterior Sun Control Devices</li> 
                    <li>Fixed Sun Screens</li> 
                    <li>Flat Seam Sheet Metal Wall Cladding</li>
                  </ul>
                </li>
              </ul>
          </div>

        </div>

      </div>
    </div>

