html {
  height: 100%;
}

body{
  font-family: 'Cantarell', sans-serif;
  color: #1d3552;
  margin: 0 auto;
  max-width: 1020px;
  height:100%;
}

.header {
  background-color: rgba(255,255,255,0);
  height: 155px;
  padding: 5px 0px;
}

h1 {
  line-height: 35px;
}

.header h1 {
  top: 45px;
  float: right;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 45px;
  font-size: 38px;
  margin: 10px 0 10px 0;
  margin-left: 25%;
  color:#222;
}

.header h4{
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0 0 0 0;
  float: right;
  margin-left: 25%;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

p {
  font-family: 'Cantarell', sans-serif;
  font-size: 1.1em;
  line-height: 23px;
  margin: 0 0 23px 0;
}

#btm-logo {
  height: 100%;
  max-height: 150px;
  margin: 0px 5px;
  padding: 5px 0px;
  float: left;
}

#btm-logo-mobile {
  display:none;
}

#menu-icon {
  display: none;
  width: 40px;
  height: 40px;
  background: #0b223e url(https://s3.amazonaws.com/bt_mancini/site-images/menu-icon.png) center;
}

a {
  text-decoration: none;
  color: #0b223e;
}

nav {
  height: 50px;
  margin: 0px auto;
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  max-width: 1020px;
  background: url(https://s3.amazonaws.com/bt_mancini/site-images/header-bg.png) repeat;
}

.title-area {
  display: none;
}

.top-bar-section {
  margin: 0px;
}

.top-bar-section ul li a {
  font-family: 'Cantarell', sans-serif;
}

.top-bar-section ul {
  z-index: 1;
  float: left;
}

.top-bar-section ul li ul {
  margin-left: -40px;
}

.row {
  width: 100%;
}

.orbit {
  max-height: 400px;
}

.notice {
  display: none;
}
.alert {
  display: none;
}

/* Safety
################################################*/
#safety.safety-squish {
  height: 0;
  min-height: 0;
  padding: 0;
}
#safety.safety-squish .container {
  position: absolute;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.75s;
  -moz-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.75s;
  -webkit-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.75s;
  top: -1000px;
  opacity: 0;
  -webkit-transform: rotate3d(0, 0, 0, 0);
}
#safety.safety-squish #down {
  opacity: 0;
}
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -webkit-transition: all ease-in-out 0.15s;
}
#overlay.open {
  /*background: rgba(0, 0, 0, 0.8);*/
  z-index: 999;
}
#safety {
  position: absolute;
  top: 0;
  margin-left: -15px;
  float: left;
  width: 105%;
  max-width: 1200px;
  height: 100%;
  overflow: scroll;
  background: #fff;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.65s;
  -moz-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.65s;
  -webkit-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.65s;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  z-index: 1000;
}
#safety .container {
  margin: 0px 10%;
  position: absolute;
  padding: 30px 0;
  top: 10%;
  opacity: 1;
}
#safety img {
  margin: 10px 0 0 0;
  float: left;
  border-radius: 50%;

}
#safety .text {
  float: right;
}
#safety p.title {
  font-size: 1.8em;
  font-weight: bold;
  color: #222;
  margin-top: 5px;
}
#safety p {
  line-height: 1.35em;
  font-size: 1em;
  color: #555;
  margin: 10px;
  width: 90%;
}
#safety p a {
  color: #666;
  font-weight: bold;
}
#safety p a:hover {
  color: #1B94B7;
}

#safety-logo {
  width: 90%;
}

#safety #down {
  background: #f1f1f1;
  font-size: 2em;
  font-style: italic;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  font-weight: bold;
  color: #999;
}
#safety #down:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #444;
}
#safety #down:active {
  color: #1B94B7;
}

#awards-table {
  margin-top: 20px;
}

table {
  text-align: left;
}

ul.awards {
  /*list-style-image: url('../images/ribbon.png');*/
  line-height: 46px;
  float: left;
  margin-left: -20px;
  font-size: 1em;
  opacity: 0.9;
  font-weight: lighter;
  font-family: 'Cantarell', sans-serif;
  margin-top: 10px;
}

ul.awards li {
  margin-left: 25px;
  float: left;
}

ul.awards li img {
  padding-right: 5px;
}

#login {
  margin: 10px;
  background-color: #123054;
  color: white;
}

#bar {
  position: fixed;
  width: 100%;
  max-width: 1020px;
  bottom: 0;
  padding: 10px;
  height: 40px;
  color: #777;
  background-color: rgba(0,0,0,.05);
}

#bar a:visited, #bar a{
  position: absolute;
  left: 50%;
  text-decoration: none;
  color: #777;
  font-size: 1.7em;
}

h3 {
  color: white;
}

#tag-line-bg h3 {
  line-height: 45px;
  font-size: 1.4em;
  font-weight: lighter;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0 0 10px 0;
  font-family: 'Cantarell', sans-serif;
  background-color: #777;
  background: url(https://s3.amazonaws.com/bt_mancini/site-images/header-bg.png);
  -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000; 
}

#floor-covering {
  background: url(https://s3.amazonaws.com/bt_mancini/site-images/floor-covering.jpg) no-repeat;
  height: 150px;
  margin: 20px 0 15px 0;
  padding: 15px 0 0px 0;
}

#interior-architectural-products{
  background: url(https://s3.amazonaws.com/bt_mancini/site-images/interior-bg.jpg) no-repeat;
  height: 150px;
  margin: 20px 0 15px 0;
  padding: 15px 0 0 0;
}

#structural {
  background: url(https://s3.amazonaws.com/bt_mancini/site-images/structural-bg.png) no-repeat;
  height: 150px;
  margin: 20px 0 15px 0;
  padding: 15px 0 0 0;
}

#division-slider {
  margin: 20px 0 10px 20px;
}

.tabs-content {
  height: 250px;
}

ul.csi-codes {
  list-style-type: none;
  max-height: 230px;
  overflow: scroll;
}

ul.csi-codes p {
  height: 10px;
  float: left;
  margin: 0 5px;
}

li.csi-code {
  font-size: 1.1em;
  line-height: 1.5em;
}

.csi-dropdown li {
  font-size: .8em;
  line-height: 1.5em;
  margin-left: 15px;
}

.division-title {
  margin: 5px auto;
  float: left;
  margin-bottom: 10px;
  line-height: 1.6em;
  font-size: 1.4em;
  font-weight: bold;
  width: 80%;
}

.division-logo {
  float: right;
  width: 20%;
}

#division-text img{
 float: right;
}

#division-text p {
  line-height: 1.2em;
}

.division {
  background: #fff top center fixed;
  margin: 30px auto;
}

#div3 .division img {
  width: 25%;
  margin: auto;
  padding: 5px 10px;
  margin-top: 140px; 
}

.division p a, .division {
  margin-top: 10px;
}

.division-text {
  background-color: rgba(250,250,250,.95);
  float: left;
  padding: 10px 10px 0px 10px;
  margin-top: 135px;
  height: 110px;
  width: 100%;
  line-height: 1.2em;
  /*border-top: rgba(0,0,0,.5) solid 1px;*/
}

a.division-link {
  display: none;
  text-decoration: none;
  float: right;
  padding-right: 10px;
  cursor: pointer;
}

section h2 {
  margin: 5px auto;
  float: left;
  margin-bottom: 10px;
  line-height: 1.2em;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}

#contact-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

#maps-canvas {
  min-height: 400px;
  height: 100%;
  z-index: -1;
  background: url('../images/photo-gallery-bg.png') repeat;
}

#contact {
  width: 100%;
  z-index: 100;
}

form {
  max-height: 340px;
  overflow: scroll;
}

#contact-us { 
  background-color: #1f3857;
  min-height: 400px;
  width: 33%;
  padding: 0px 0px 0px 5px;
  color: #fff;
}

#contact-us h4 {
  font-family: 'Cantarell', sans-serif;
  font-size: 1.5em;
  margin: 15px auto;
}

.icon {
  float: left;
  margin: 0px;
  padding: 2px 0px;
}

.office {
  height: 175px;
  padding: 0.5%;
  margin: 15px 1px 1px 1px;
  width: 19.5%;
  float: left;
}

.location p, .location span {
  width: 100%;
  text-align: left;
  float: left;
  margin-left: 5px;
  font-size: .9em;
}

.location a{
  width: 100%;
  margin-left: 5px;
  font-size: .9em;
}

.office h4{
  float: left;
  margin-top: 0px;
  color: #1d3552;
  font-size: 1.05em;
  line-height: 24px;
  font-family: 'Cantarell';
  font-weight: bold;
  padding-left: 10px;
}

.phone {
  float: left;
  width: 100%;
}

input {
  float: left;
  width: 94%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 4px auto;
  padding: 0% 1%;
  height: 24px;
  font-size: 14px;
  color: #1f3857;
}

textarea {
  float: left;
  width: 92.5%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 10px auto;
  font-size: 14px;
  padding: 2%;
  height: 45px;
}

.region {
  display: block;
}

.division h5 {
  margin-top: 10px;
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Cantarell';
}

.footer {
  width: 100%;
  background: url(https://s3.amazonaws.com/bt_mancini/site-images/header-bg.png);
  height: auto;
  float: left;
}

footer {
  background: url(https://s3.amazonaws.com/bt_mancini/site-images/header-bg.png) repeat;
  height: 100%;
  margin: 10px auto;
  font-family: 'Cantarell';
}

footer ul {
  margin-left: 0px;
}

footer ul li {
  list-style-type: none;
}

footer ul li a{
  line-height: 24px;
  color: #fff;
  font-weight: lighter;
  font-size: 1em;
  font-family: 'Cantarell';
}

a.footer-link {
  color: #fff;
}

footer ul li a:hover{
  background: none;
  color: #ddd;
}

footer section h4{
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
  padding-left: 40px;
  margin: 0px;
}

a.footer-right {
  color: #fff;
}

a.footer-right:hover {
  color: #fff;
  background: none;
}

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #6797b5;
  -webkit-box-shadow:inset 0px 1px 0px 0px #6797b5;
  box-shadow:inset 0px 1px 0px 0px #6797b5;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #185285), color-stop(1, #14416b) );
  background:-moz-linear-gradient( center top, #185285 5%, #14416b 100% );
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#185285', endColorstr='#14416b');*/
  background-color:#185285;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #29394d;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #00050a;
}
.button a {
  color: white;
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #14416b), color-stop(1, #185285) );
  background:-moz-linear-gradient( center top, #14416b 5%, #185285 100% );
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14416b', endColorstr='#185285');*/
  background-color:#14416b;
}.button:active {
  position:relative;
  top:1px;
}

#contact-us .button {
  color: #fff;
  margin: 10px;
  width: 93%;
}

#images label {
  color: white;
  text-decoration: none;
}


/***********************************
***********************************
***********************************
***********************************
***********************************
***********************************
GALLERY
***********************************
***********************************
***********************************
***********************************
***********************************
***********************************/
#new-gallery {
  background-color:#123054;
  padding: 10px;
  color: white;
  min-height: 460px;
  max-height: 600px;
}

#gallery-container {
  background-color: rgba(0,0,0,.8);
    -moz-box-shadow:    inset 0 0 800px #000000;
   -webkit-box-shadow: inset 0 0 800px #000000;
   box-shadow:         inset 0 0 800px #000000;
  width: 75%;
  margin: 0px;
  height: 500px;
 /* max-height: 500px;*/
}

.sidebar {
    z-index: 2;
    background-color: rgb(229,229,229);
    float: left;
    height: 500px;
    margin: 0px auto;
}

.sidebar ul {
  float: left;
  margin-left: -40px;
}

.sidebar .dropdown {
  width: 100%;
}

.sidebar h5 {
  margin: 20px 0 0 10px;
  font-weight: bold;
  font-family:'Fjalla One';
}

h5.project-name {
  color: white;
  font-family:'Fjalla One';
  font-size: 1.7em;
  font-weight: lighter;
  margin: 10px;
}

h5.gallery-division {
  font-size: 1.7em;
  font-weight: lighter;
  border-bottom: 1px solid #bbb;
}

li.project {
line-height: 1.7em;
list-style-type: none;
font-size: 1.15em;
font-family:'Cantarell';
margin-left: 10px;
}

li.project a:hover {
  background-color: rgba(0,0,0,0);
  color: #000;
}

.sidebar ul.dropdown {
  list-style-type: none;
  font-size: .9em;
  line-height: 1.4em;
  background-color: rgba(0,0,0,.86);
  padding: 5px 0px 5px 5px;
  margin-left: -10px;
  color: #eee;
  width: 105%;
}

li.status {
  margin-left: 5px;
}

.dropdown {
  margin-bottom: 10px;
  display: none;
}


.gallery {
  margin: 0px auto;
  max-height: 500px;
  width: 100%;
}

.gallery .orbit-2 img {
  height: 420px;
  margin: 5px;
}

.orbit-2 {
  max-height: 420px;
}

a.division-link:hover{
  background-color: rgba(0,0,0,0);
  color: #000;
}

.paused, .orbit-oregress, .orbit-timer {
  display: none;
}


/***********************************
***********************************
***********************************
***********************************
***********************************
***********************************
BEGIN MOBILE STYLES HERE
***********************************
***********************************
***********************************
***********************************
***********************************
***********************************/
@media (max-width: 768px) {
/* Styles */

.mobile {
  display:block;
}

#tag-line-bg h3 {
  line-height: 28px;
  font-size: 1.2em;
}

nav {
  background: url(https://s3.amazonaws.com/bt_mancini/site-images/header-bg.png) repeat;
  height: 90px;
  margin: 0 0 20px 0;
  z-index: 1000;
}

.top-bar-section ul li ul {
  z-index: 1;
  margin-left: 0px;
}

.title-area {
  display: block;
}

#btm-logo {
  display:none;
}

.header {
  height: 80px;
}

.header h1, h4{
  margin-left: 0%;
}
.header h4 {
  font-size: 1em;
  font-size: 1.1em;
}

.header h1 {
  margin-top: 10px;
  line-height: .5em;
}

#main-menu li a {
  display: none; 
}

#division-slider {
  display: none;
}

.division {
  background: #fff top center fixed;
  margin: 5px auto;
}

.division-text {
  margin-top: 135px;
  height: auto;
}

#floor-covering {
  margin: 0px;
  padding: 0 0 0px 0;
}

#interior-architectural-products{
  margin: 0px;
  padding: 0 0 0 0;
}

#structural {
  margin: 0px;
  padding: 0 0 0 0;
}

section.division {
  padding: 10px;
  width: 100%;
}

#maps-canvas {
  height: 200px;
}

.address {
  display: none;
}

#contact-us {
  width: 98%;
  height: auto;
  margin: 5px 5px 0px 0px;
  color: white;
}

#contact-us label.string {
  color: white;
}

.office {
  height: 100%;
  padding: 0.5%;
  margin-top: 0px;
  width: 100%;
  float: left;
}
.location a, .location p, .location span {
  width: 100%;
  text-align: left;
  font-size: .9em;
}

ul.awards {
  display: none;
}

footer section.grid_4{
  width: 50%;
}

footer ul li a{
  margin-left: 0px;
}

.title-area li a:hover {
  background-color:  #1d3552;
}

}
