<div class="footer">
     <div>
        <footer>
          <section class="large-4 medium-4 small-12 columns">
            <h4>Our Story</h4>
              <ul>
                <li><a class="footer-link" href="/home">Our Vision</a></li>
                <li><a class="footer-link" href="/company-history">Company History</a></li>
                <li><a class="footer-link" href="/installers">Installers</a></li>
                <li><a class="footer-link" href="/outreach">Outreach</a></li>
          </section>

          <section class="large-4 medium-4 small-12 columns">
            <h4>Products & Services</h4>
              <ul>
                <li><a class="footer-link" href="/floor-covering">Floor Covering Division</a></li>
                <li><a class="footer-link" href="/interior">Architectural Products Division</a></li>
                <li><a class="footer-link" href="/structural">Structural Products Division</a></li>
                <!-- <li><a class="footer-link" href="/design-assistance">Design Assistance & Budgeting</a></li>
                <li><a class="footer-link" href="/service-program">Service Program</a></li> -->
          </section>

          <section class="large-4 medium-4 small-12 columns">
             
                <h4><a class="footer-right" href="/home">Home</a></h4>
                <h4><a class="footer-right" href="/contact">Contact</a></h4>
                <h4><a class="footer-right" id="safe" href="#safety">Award Winning Safety</a></h4>
          
          </section>
    </footer>
  </div>
</div>

