<div>
  <div class="header">
  <a href="index.php"><img id="btm-logo" src="https://s3.amazonaws.com/bt_mancini/site-images/btmancini-safety.png" alt="B.T. Mancini Co., Inc." title="Logo"/></a>
        <h1>B.T. Mancini Co., Inc.</h1>
        <h4>Specialty Contractor Since 1964</h4>
  </div>
</div>

  <nav class="top-bar" data-topbar>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <ul>
      <li class="toggle-topbar menu-icon"></li>
      <li class="active"><a href="/home">Our Story</a></li>
      <li class="has-dropdown">
        <a href="#">Products & Services</a>
            <ul class="dropdown">
                <li><a href="/floor-covering">Floor Covering</a></li>
                <li><a href="/interior">Interior Architecture</a></li>
                <li><a href="/structural">Structural Division</a></li>
                <li><a href="/design-assistance">Design Assistance & Budgeting</a></li>
                <li><a href="/service-program">Service Program</a></li>
            </ul>
      </li>
      <li class="active"><a href="/gallery">Gallery</a></li>
      <li class="active"><a id="safe" href="#safety">Safety</a></li>
      <li class="active"><a href="/contact">Contact</a></li>
    </ul>

    <!-- Left Nav Section -->
  </section>
</nav>

  

    <div id="safety" class="safety-squish">
      <div class="container">
        <div class="large-3 medium-2 columns"><img src="https://s3.amazonaws.com/bt_mancini/site-images/btmancini-safety.png" alt="B.T.Mancini Inc" title="Safety Logo"/>
          <ul class="awards">
            <li><img src="https://s3.amazonaws.com/bt_mancini/site-images/ribbon.png" alt="B.T.Mancini Inc" title="Safety"/>Award #1 - 2013</li>
            <li><img src="https://s3.amazonaws.com/bt_mancini/site-images/ribbon.png" alt="B.T.Mancini Inc" title="Safety"/>Award #2 - 2012</li>
            <li><img src="https://s3.amazonaws.com/bt_mancini/site-images/ribbon.png" alt="B.T.Mancini Inc" title="Safety"/>Award #3 - 2010</li>
            <li><img src="https://s3.amazonaws.com/bt_mancini/site-images/ribbon.png" alt="B.T.Mancini Inc" title="Safety"/>Award #4 - 2010</li>
            <li><img src="https://s3.amazonaws.com/bt_mancini/site-images/ribbon.png" alt="B.T.Mancini Inc" title="Safety"/>Award #5 - 2009</li>
            <li><img src="https://s3.amazonaws.com/bt_mancini/site-images/ribbon.png" alt="B.T.Mancini Inc" title="Safety"/>Award #6 - 2008</li>
          </ul>


        </div>
        <h2>Safety</h2>
        <p class="safety">B.T. Mancini Co., Inc. employs a full-time Safety Director responsible for implementing and promoting our safety program on all BTM projects. We utilize OSHA approved safety equipment and procedures to ensure the safety of our installers, fellow workers and customers. We believe a safe working environment is beneficial to all and a value of the B.T. Mancini Company workforce.<br/><br/>

        A major focus of the B.T. Mancini Company Safety Program is comprehensive safety training. From new-hire orientation to advanced trade specific courses, BTM safety training is a continuous process; ensuring a high degree of health and safety awareness and competency. All BTM field supervisors have OSHA 10hr and First Aid/CPR certification as well as a web based course work in Health and Safety Leadership and "Competent Person" training. BTM utilizes the ClickSafety on-line training system which is recognized and accredited by Cal/OSHA for delivering a high quality safety curriculum.<br/><br/>

        The B.T. Mancini Company Safety Director is also active in the California and Nevada construction safety community as a member of The Associated General Contractors Safety Council, the American Society of Safety Engineers, and a frequent participant in Cal/OSHA Advisory Committees. This allows BTM as a company to stay abreast of the very latest regulatory, legal, and construction safety issues and advancements.</p>
      </div> 
      <div id="bar">
         <a href="#">&#9650;</a>
      </div>
    </div>
    <div id="overlay">&nbsp;</div>